@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700,800,900&display=swap');

@fontface {
    font-family: 'Yantramanav', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Yantramanav&display=swap');
  }
  .projectTitle{
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    background: url('../NameImg.jpg');
    background-size: 100% 100%;
    color:transparent;  
    -webkit-background-clip:text;
    position: absolute;
    text-align: center;
    left: 40%;

}

  .content{
    width: 100%;
    height: 100vh;

    
  }
  .main {
    position: absolute;
    display: inline-flex;
    width: 100%;
    margin-top: 19%;
    
    // left: calc(46% - 39%);
    
  }
  
  .container {
    position: relative;
    width: 450px;
    height: 250px;
    display: inline-flex;
    border: 2px solid grey !important;
    margin: 0 auto;
    
}
  .image {
    width: 100%;
    height: 100%;
    // opacity: 0.6;
    // filter: alpha(opacity=60)
    
  }


  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: orange;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 25%;
    left: 50%;
    padding-bottom: 30px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .ImgContent {
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
   text-align: justify;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }

  .ImgIcon{
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-size: 40px;
    display: flex;
  }
 
.imgSocial{
    position: relative;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 479px){

  .main { width: 100%; height: 100%; margin-left: 50%; margin-top: 50%;}
}