@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700,800,900&display=swap');
.navBar > .active{
    background: url('./NavImg.jpg');
    background-size: 100% 100%;
    color:transparent;
    -webkit-background-clip:text;
    cursor: pointer ;
}

#nameTitle{
    background: url('./Components/NameImg.jpg');
    background-size: 100% 100%;
    color:transparent;  
    -webkit-background-clip:text;
}

#about{
    /* margin: auto; */
    
}


@fontface {
    font-family: 'Catamaran', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Catamaran:400,700,800,900&display=swap');
  }

h1{
    font-family: 'Catamaran', sans-serif;
    
}